@model Accredit_Task.Models.User

<main aria-labelledby="title">
    <h2 id="title">@Model.Username</h2>
    <h3 id="title">@Model.Location</h3>

    <img src="@Model.Avatar" />

    <p>Repos:</p>
    @foreach (var repo in Model.Repos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => repo.Name)
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => repo.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => repo.Stargazer_count)
                </td>
            </tr>
        }
</main>