@model Accredit_Task.Models.User

<main aria-labelledby="title">
    <h2 id="title">@Model.Username</h2>
    <p>@Model.Location</p>

    <img src="@Model.Avatar" />

</main>

<br />
<p>Repos:</p>
@if (Model.Repos.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stargazers</th>
            </tr>
        </thead>
        <tbody>

        @foreach (var repo in Model.Repos)
        {
            <tr>
                <td>
                    <a href="@repo.Link">@repo.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => repo.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => repo.Stargazer_count)
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No repos found for user @Model.Username</p>
}
<style>
    td {
        padding-right: 10px;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

        tr:hover {
            background-color: lightcyan;
        }
</style>
