@model Accredit_Task.Models.User

<main aria-labelledby="title">
    <h2 id="title">@Model.Username</h2>
    <p>@Model.Location</p>

    <img src="@Model.Avatar" />
    
</main>

<br />
<p>Repos:</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Stargazers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repo in Model.Repos)
        {

            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => repo.Name)
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
                    <a href="@repo.Link">@repo.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => repo.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => repo.Stargazer_count)
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    td {
        padding-right: 10px;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }
        tr:hover {
            background-color: lightcyan;
        }
</style>
